* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

/* contenitore generale */

.container-header-jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat; 
}


/* header  */

.header-logo-menu-btn { 
    text-align: center;
    margin: 0 auto;
    width: 80%;
}


/* logo */

.logo {
    display: inline-block;
    padding: 20px 0px;
    float: left;
}



/* menu */

.header-logo-menu-btn nav {
    display: inline-block;
}

.header-logo-menu-btn nav li {
    display: inline-block;
    padding: 28px 15px;
}

.header-logo-menu-btn nav li a {
    text-decoration: none;
    color: white;
}



/* button menu */

.btn {
    padding: 10px 30px;
    float: right;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 20px 0px;
}

.btn-head  {
   font-size: 12px;
}




/* jumbotron */


.jumbotron {
   display: inline-block;
    
    margin: 20px auto;
    text-align: center;
    padding: 50px;
}

.text-button {
    width: 50%;
    margin: 20px auto;
}

.jumbotron h1 {
    font-size: 45px;
    font-weight: bolder;
    color: white;
}

.jumbotron p {
    line-height: 30px;
    font-size: 20px;
    color: white;
}
.jumbotron h1, .jumbotron p {
    padding: 20px;
}





/* button jumbotron  */

.button-jumb {
    margin: 20px;
    font-size: 20px; 
    padding: 15px 25px;
    border-radius: 50px;
}

.botton-centrati {
    display: inline-block;
    margin: 0 auto;
}

.button-jumb-dx {
    color: white;
    background-color: black;
}





/* corpo pagina  */


/* sezione 1 */

.sezione1, .sezione2, .sezione3 {
    width: 80%;
    margin: 0 auto;
}

.box {
    display: inline-block;
    float: left;
    padding: 80px 0px 0px 0px;
}

.box-img{
    width: 62%;
}

.box-text{
    width: 37%;
    padding: 120px 0px 0px 0px;
}

.box-text h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}

.box-text p {
    font-size: 20px;
    line-height: 40px;
}


/* onda  */

.sfondo-sezione2 {
    background-color: #f3f4f5;
}



.onda-rovesciata2 {
    transform: rotate(180deg);
}


/* sezione 4  */


.sezione4 {
    width: 100%;
    text-align: center;
    
}

.box-tex4 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.box-img4 {
    margin: 0 auto;
}

.sezione4 h2 {
    font-size: 40px;
    padding: 100px 0px 50px;
}

.sezione4 a {
    padding: 20px;
    border-radius: 50px;
    background-color: #7289da;
    color: white;
    text-decoration: none;
}

/* debug */
/* 

.debug .sezione2 {
    background-color: saddlebrown;
    height: 600px;
}

.debug .box {
    background-color: red;
} */

